@import "./_header.scss";
*{
    margin:0%;
    padding:0%;
}
body{
    max-width: 1440px;
    margin: auto;
    // min-width: 320px;
}

.container_hello{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    margin-top: 70px;
    align-items: left;
    /*direction: column;*/
    width: 100%;
    .tachado{
        text-decoration: line-through;

    }
    .punto-azul{
        color:#0000EC;

    }

}


.main-title{
    font-family: 'IBM Plex Sans Condensed';
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
}

.main-content{
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0 24px;
    line-height: 24px;    
    font-weight: normal;
    width: 628px;
    height: 48px;
    
}

.conoce-btn{
  
    font-family: 'IBM Plex Mono';
    background-color: #00F3BB;
    border: none;
    color:#060A24;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 226px;
    height: 56px;
    letter-spacing: 0;    
    margin-top: 50px;
}

.conoce-btn:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  }
  
//   ***************************contendor azul Episodios
.contenedor-episodios{
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    width: 100%;
    height: auto;
    background-image: linear-gradient(225deg,#0000FF 0%, #0000A3 100%);
    padding-bottom: 150px;
    padding-top: 150px;
    clip-path: polygon(0% 10%, 100% 0, 100% 90%, 0% 100%);
  

    .episodios{
        font-family: 'IBM Plex Sans Condensed'; 
        color: white;
        width: 100%;
        padding-left: 150px;
        padding-top: 50px;
        font-size: 48px;
    }

    .img-iframes{
        display: flex;
        width: 584px;
        height: 232px;
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}



// Contenedor imagen sobrepuesta celular

      .contenedor-celular{
        display: flex;       
        width: 100%;
        justify-content: center;
        .contenedor-texto{
            display: flex;
            flex-direction: column;
            margin-left: 200px;
            .titulo-celular{
                font-family: 'IBM Plex Sans Condensed';
                font-size: 48px;
                color: #060A24;
                width: 399px;
                height: 62px;
                /*margin-left: 200px;*/
                // position: 720px 1512px;
              }
            
              .parrafo-celular{
          
                font-family: 'IBM Plex Mono';
                font-size: 16px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 24px;          
                width: 464px;              
                margin-top: 15px;
              }
          }
    
    
      .imagen-celular{
         position: relative;
          bottom: 150px;
          width: 457.6px;
          height: 660px;
                       
          
      }
    
      
       
      }

     
// ******************************************contenedor  Galeria de imagenes

.general-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // width: 100%;

  .titlulo-invitadas{
    font-family: 'IBM Plex Sans Condensed';
    font-size: 48px;
    color: #060A24;
    /*position: 200px 2047px;*/
    width: 481px;
    height: 62px;
    margin-left: 200px;
  }

    .gallery-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .img-invitadas{
            width: 33.3%;
        }
    }
}





//contenedor de "Algunos de nuestros temas"
.img-container {
    justify-content: space-around;
    width: 480px;
    height: 364px;
    
}
       

.title-temas{
    font-family: 'IBM Plex Sans Condensed';
    font-size: 48px;
    color: #060A24;
    width:586px;    
    margin-top: 50px;
    margin-left: 200px;
}

.imagenes-temas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
    align-items: flex-start;
 
    .imagen-tema{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 104px;
            height: 104px;
        }
        
        .titulo-icono{
            font-family: 'IBM Plex Sans Condensed';
            font-size: 24px;
            color: #060A24;
            letter-spacing: 0;
            width: 170px;
            text-align: center;
            font-weight: bold;            
            margin-top: 15px;
        }

    }
}

.footer{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    .footer-parrafo{
        padding-left: 80px;

    }
    .footer-iconos{
        display: flex;
        justify-content: space-evenly;
        width: 300px;
    }
    
}

.contenedor-novedades{
    margin-top: 50px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    color:#FFFFFF;
    flex-direction: column;   
    width:100%;
    height: 518px;
    text-align: center;
    justify-content: center;
    clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0% 100%);

    p{
    font-family: 'IBM Plex Sans Condensed';
    font-size: 48px;  
    padding-top: 200px;
   
    }

    .boton{
    font-family: 'IBM Plex Mono';
    background-color: #00F3BB;
    border: none;
    color:#060A24;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 345px;
    height: 56px;
    letter-spacing: 0;    
    margin-top: 50px; 
  
    }
      

}

.boton:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
} 
    
// *******************************************Media Query for Mobile**********************************************
@media all and (max-width: 1000px){
    .container_hello{
        width: 90%;
        margin-left: 5%;
        padding-left: 0;
        padding-top: 0; 

        .main-title{
            padding-left: 0px;
            width: 230px;
            font-size: 36px;
            margin-left: 5%;
        }
        .main-content{
            text-align: justify;
            font-size: 14px;
            width: 90%;
            margin-left: 5%;
            margin-top: 0;
            margin-bottom: 30px;
        }
        .conoce-btn{
            font-size: 16px;
            margin-left: 5%;
            width: 90%;
            height: 48px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    .contenedor-episodios{   
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 10px;     
        clip-path: polygon(0% 5%, 100% 0% ,100% 95%, 0% 100%);       
        padding-top: 30px;
        
        .episodios{
            font-size:36px;
            width: 90%;
            height: 42px;
            padding-left: 0;
            margin-left: 5%;
            margin-top: 50px;
            padding-top: 0;
        }
        
         .img-iframes{
             width: 90%;
         }
    }

    .contenedor-celular{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 70px;
        
        .contenedor-texto{
            margin-left: 0;
            width: 90%;
            margin-left: 5%;

            .titulo-celular{
                font-size:36px;
                width: 100%;
                text-align: center;
                padding-left: 0;
                margin-left: 0;
                margin-top: 0px;
            }
            .parrafo-celular{
                width: 100%;
                font-size: 14px;
                text-align: justify;
            }
        }
         
        .imagen-celular{
            width: 360px;
        }
    }

    .general-container
    {
        .titlulo-invitadas{
            font-size: 36px;
            margin-left: 5%;
            width: 200px;
            margin-bottom: 70px;
        }

        .gallery-container{
            
            .img-invitadas{
                width: 100%;
            }
        }
    }

    .title-temas{
        font-size: 36px;
        width: 250px;
    }

    .imagenes-temas{
        flex-direction: column;
        align-items: center;
        .imagen-tema{
            margin-bottom: 50px;
        }
    }


    .contenedor-novedades{
        
        p{
            font-size: 36px;
            padding-top: 100px;
            margin: auto;
            width: 200px;
        }
    
        .boton{
            width: 90%;
            height: 56px;
            letter-spacing: 0;    
            margin-top: 50px; 
      
        }
    }

    .footer{
        flex-direction: column;
        height: 60px;
        align-items: center;
        justify-content: space-around;
        .footer-parrafo{
            padding-left: 0;
            font-size: 14px;
        }
        .footer-iconos{
            justify-content: space-evenly;
            width: 300px;
        }
        
    }
}

